@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-color: rgb(224, 224, 224);
}
div{
    border:solid black 1px;
    box-shadow: 7px 7px 0px rgb(182, 182, 182);
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1050px;
    height: 500px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#Top3Icons{
    font-size: 20px;
    letter-spacing: 20px;
}
#Bottom4icons{
    font-size: 30px;
    letter-spacing: 15px;
}
#SIGNUP_1,#SIGNUP_2{
    height: 40px;
    width: 350px;
    margin-left: 30px;
    border-radius: 2px;
    border: solid rgb(175, 175, 175);
    background-color: rgb(232, 232, 232);
    margin-left: 200px;
}
#SIGNUP_2{
    margin-top: -15px;
}
textarea{
    padding-top: 10px;
    margin-left: 200px;
    height: 110px;
    width: 350px;
    border-radius: 2px;
    border: solid rgb(175, 175, 175);
    background-color: rgb(232, 232, 232);
}
#SUBMITBUTTON_1{
    height: 35px;
    margin-left: 200px;
    width: 100px;
    background-color: #d60000;
    color: white;
    border: solid whitesmoke;
}