@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background-color: rgba(11, 176, 185, 0.723);
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.card{
    width: 300px;
    height: 350px;
    background-color: rgb(238, 241, 244);
    float: left;
    margin: 20px;
    border-radius: 30px;
    border: 5px solid white;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.2);

}

.bar1{
    width: 250px;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 213, 0, 0.768), rgba(238, 255, 0, 0.907));
    margin: 30px 25px;
}

.bar2{
    width: 250px;
    height: 20px;
    background: linear-gradient(to right, rgb(69, 60, 145), rgb(100, 115, 255));
    margin: 25px;
}

.bar3{
    width: 250px;
    height: 20px;
    background: linear-gradient(to right, rgba(17, 187, 139, 0.701), rgb(87, 204, 118));
    margin: 25px;
}

p{
    font-size: 12px;
    width: 220px;
    margin-left:40px;   
}

i{
    color: rgb(80, 80, 80);
    margin-left: 20px;
    font-size: 50px;
    padding: 0px 10px;

}

section{
    margin: 150px 200px;
}

h1{
    padding-top:60px;
    margin: 0;
    text-align: left;
    padding-left: 40px;
    font-size: 30px;
    color: rgb(80, 80, 80);

}