p::before{
    content: "D";
    font-size: 30px;
    color: rgb(13, 208, 192);
}
div{
    height: 300px;
    width: 500px;
    background-color: gainsboro;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}